<li>
  <ul>
    <li><%= link_to wedding do %><h2><%= wedding.name %></h2><%end%></li>
    <li>Wedding Image: <%= wedding.wedding_image %></li>
    <li>Wedding Description: <%= wedding.description %></li>
  </ul>
</li>