@font-face {
  font-family: 'Fanwood';
  src: url(font-path('Fanwood.otf'))
}
@font-face {
  font-family: 'LindenHill';
  src: url(font-path('LindenHill.otf'))
}


// <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Libre+Baskerville|Cinzel|Josefin+Slab|Open+Sans|Lato|Montserrat' rel='stylesheet' type='text/css'>

h1{
  font-family: 'Cinzel', 'Josefin Slab', 'Montserrat', Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
}

h2{
  font-family: 'LindenHill', 'Montserrat', Georgia, Cambria, "Times New Roman", Times, serif;  
}

h3 {
  font-family: 'LindenHill', 'Montserrat', Georgia, Cambria, "Times New Roman", Times, serif;
}


nav {
  img.header-logo{
    max-height: 1.125rem;
  }
}

aside.left-off-canvas-menu ul.off-canvas-list li label{
  font-weight: normal;
}


body{
  min-height: 600px;


  div.background-flower{
    background: image-url('stock10.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    z-index: -102;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  main{
    font-family: 'Playfair Display', serif;
    font-size: 16px;

    section.main-section{
      min-height: 600px;
    }

    div.parallax-window{
      @media #{$medium-up} { 
        height:400px;
        margin-bottom: 3em;
      }
      min-height: 150px;
      div.image-cover{
        @media #{$medium-up} { 
          height:400px;
        }
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1));
        min-height: 150px;
        margin-left: auto;
        max-width: 400px;
        h2{
          margin-top: 0;
          margin-left: auto;
          font-size: 50px; 
          font-family: 'Cinzel';
          max-width: 300px
        }    
      }
      form.new_user {
        background-color: rgba(white, 0);
        text-align: right;
      }
      div.devise-links{
        margin-left: auto;
        margin-right: 20px;
        text-align: right;
      }

      div.my-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(215, 236, 222,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      &:hover div.my-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(165, 214, 180,1));
      }
      

      div.admin-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255, 255, 220,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      &:hover div.admin-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255, 255, 190,1));
      }

      div.guest-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(203, 214, 229,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      &:hover div.guest-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(162, 176, 197,1));
      }

      div.unconfirmed-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(246, 221, 229,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      &:hover div.unconfirmed-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(236, 185, 201,1));
      }
      

    }

    div.index-content{
      margin-top: 2em;
      p {
        margin: 0.5em;
        margin-top: 1.5em;
        font-size: 1.2em;
        font-family: 'Fanwood', Georgia, Cambria, "Times New Roman", Times, serif;
      }
    }

    div.new-wedding-link{
      -webkit-filter: grayscale(100%);
      background-image: image-url('stockflower2.jpeg');
      background-size: 100%, auto;
      background-position: 0, -200px;
      min-height: 250px;
      width:100%;
      margin-bottom: 3em;
      padding: 1.5em;
      transition: all .3s;
      &:hover {
        -webkit-filter: grayscale(0);
      }
      p {
        color: #141414;
      }            
    }

    div.new-wedding-header{
      background-image: image-url('stockwedding3.jpeg');
      background-size: 100%, auto;
      background-position: 0, -200px;
      min-height: 150px;
      width:100%;
      margin-bottom: 3em;
      h1 {text-align: left;}
      div.link-cover{
        background: linear-gradient(to right, rgba(255,255,255,0.4),rgba(255,255,255,0));
        height: 100%;
        width: 100%;
        min-height: 150px;
        padding: 1em;
      }
    }

    div.show-wedding-header{
      text-align: right;
      margin-bottom: 0.5em;
      @media #{$medium-up} { 
       position: relative; 
     }
     h1{
      text-align: right;
      margin-left: auto;
    }
    p{
      margin: 0;
    }
    a {
      margin: 0.5em;
    }
    @media #{$medium-up} {
      div.buttonsbox{
        position: absolute;
        right:0;
        bottom:0;
        a {
          margin: 1.5em;
        }
      }
    }

  }

  label{
    font-size: 15px;
  }
  div.devise-links{
    margin:1em;
  }
}

form{
  margin: 2em;
}

div.container{
  margin: 2em;
}

div.wish-search-header{
  margin: 0.8em;
  form.wish_search{
    float: right;
    margin: 0;
    width: 70%;
    text-align: right;
    p {
      margin: none;
    }
    #q_name_cont{
      text-align: left;
      width: 80%;
      max-width: 20em;
      display: inline;
    }
  }
}

div.wish-section-title{
  img.wish-section-image{
    height: 20px;
    width: auto;
    margin-top: 2em;
  }
  h3.wish-section-title{
    text-align: center;
    margin-bottom: 1em;
  }
}
  
div.no-wish-image{
  background: image-url("stock7.jpeg");
  height: 200px;
  background-size: 100%, auto;
  background-position: 0px, -600px;
  margin-top: 2em;
  margin-bottom: 2em;
}

div.wish-container{
  background-color: #F4F6FA;
  margin: 2em;
  border: 2px solid #D4DBE8;
  transition: all .3s;
  img.wish-image{
    padding:0.5em;
  }
  div.wish-buttons{
    padding: 0.5em;
    height: 3em;
    a.button{
      padding: 0.8em;
      margin-bottom: 0.5em;
    }
  }
  &:hover{
    box-shadow: 4px 4px 5px #D4DBE8;
    transform: translate(-1px,-1px)
  }
}

div.unclaimed{
  border: 2px solid #BCF2BC;
  background-color: #F9FDF7;
  &:hover{
    box-shadow: 4px 4px 5px #BCF2BC;
  }
}

div.claimed{
  border: 2px solid #C8C7C7;
  background-color: #FDFDFD;
  &:hover{
    box-shadow: 4px 4px 5px #C8C7C7;
  }
}

div.attendance-container{
  padding: 0.5em;
  background-color: white;
  margin: 2em;
  border: 2px solid #D4DBE8;
  transition: all .3s;
  div.attendance-buttons{
    padding: 0.5em;
    height: 3em;
    a.button{
      padding: 1em;
      margin-bottom: 0.5em;
    }
  }
  &:hover{
    background-color: #F4F6FA;
    box-shadow: 4px 4px 5px #D4DBE8;
    transform: translate(-1px,-1px)
  }
  p{
    margin: 0px
  }
}

}

div.seperator {
  text-align: center;
  clear: both;
  margin: 0 auto;
  img.seperator {
    width: 80%;
    max-width: 500px;
  }
}
div.footer-seperator{
  text-align: center;
  clear: both;
  margin: 0 auto;
  max-width: 500px;
  font-size: 0.5em;
  img{ 
    width: 50%;
    min-width: 250px;
    max-width: 500px;
    margin-top: 3em;
    margin-bottom: 2.5em;
  }
}

div.footer{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: center;
  }
}


div.registration-button{
  -webkit-filter: grayscale(100%);
  background-image: image-url("stock5.jpeg");
  min-height: 10em;
  background-position: center;
  background-size: cover;

  &:hover{
    -webkit-filter: grayscale(0%);
    a {
      color: red;
    }
  }
}

// div.under-line{
//   width: 80%;
//   min-width: 350px;
//   margin: 0 auto;
//   border-bottom:1px solid #A6A6A6;
//   padding: 8px 0 0px 0;
//   clear: both;
// }

// -webkit-filter: grayscale(100);

// h5 > a {
//  position: relative;
//  color: #000;
//  text-decoration: none;
// }

// h5 > a:hover {
//  color: #000;
// }

// h5 > a:before {
//  content: "";
//  position: absolute;
//  width: 100%;
//  height: 2px;
//  bottom: 0;
//  left: 0;
//  background-color: #000;
//  visibility: hidden;
//  -webkit-transform: scaleX(0);
//  transform: scaleX(0);
//  -webkit-transition: all 0.3s ease-in-out 0s;
//  transition: all 0.3s ease-in-out 0s;
// }

// h5 > a:hover:before {
//  visibility: visible;
//  -webkit-transform: scaleX(1);
//  transform: scaleX(1);
// }
