@font-face {
  font-family: 'Fanwood';
  src: url(font-path('Fanwood.otf'))
}
@font-face {
  font-family: 'LindenHill';
  src: url(font-path('LindenHill.otf'))
}
// <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Libre+Baskerville|Cinzel|Josefin+Slab|Open+Sans|Lato|Montserrat' rel='stylesheet' type='text/css'>
h1{
  font-family: 'Cinzel', 'Josefin Slab', 'Montserrat', Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
}

body{
  min-height: 600px;


  div.background-flower{
    background: image-url('stock10.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    z-index: -102;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  main{
    font-family: 'Playfair Display', serif;
    font-size: 16px;

    section.main-section{
      min-height: 600px;
    }
    form.new_user {
      margin-left: auto;
      margin-right: 20px;
      text-align: right;
      width: 30%;
      min-width: 250px;
      background-color: rgba(white, 0.5);
    }

    div.parallax-window{
      min-height: 150px;
      div.image-cover{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1));
        min-height: 150px;
        margin-left: auto;
        max-width: 400px;
        h2{
          margin-top: 0;
          margin-left: auto;
          font-size: 50px; 
          font-family: 'Cinzel';
          max-width: 300px

        }    
      }
      form.new_user {
        background-color: rgba(white, 0);
      }
      div.devise-links{
        margin-left: auto;
        margin-right: 20px;
        text-align: right;
      }

      div.my-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(215, 236, 222,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      div.my-wedding-show:hover{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(165, 214, 180,1));
      }

      div.admin-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255, 255, 220,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      div.admin-wedding-show:hover{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255, 255, 190,1));
      }

      div.guest-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(203, 214, 229,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      div.guest-wedding-show:hover{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(162, 176, 197,1));
      }

      div.unconfirmed-wedding-show{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(246, 221, 229,1));
        text-align: right;
        p {
          color: #121212;
          padding-bottom: 2em;
        }
      }
      div.unconfirmed-wedding-show:hover{
        background: linear-gradient(to right, rgba(255,255,255,0) , rgba(236, 185, 201,1));
      }

    }

    div.index-content{
      margin-top: 2em;
      p {
        margin: 0.5em;
        margin-top: 1.5em;
        font-size: 1.2em;
        font-family: 'Fanwood', Georgia, Cambria, "Times New Roman", Times, serif;
      }
    }

    div.new-wedding-link{
      background-image: image-url('stockflower2.jpeg');
      background-size: 100%, auto;
      background-position: 0, -200px;
      min-height: 150px;
      width:100%;
      margin-bottom: 3em;
      div.link-cover{
        height: 100%;
        width: 100%;
        min-height: 150px;
        padding: 1em;
        p {
          color: #141414;
        }
      }
      div.link-cover:hover{
        background: linear-gradient(to right, rgba(136, 66, 171,0.3),rgba(136, 66, 171,0));
      }
    }

    div.new-wedding-header{
      background-image: image-url('stockwedding3.jpeg');
      background-size: 100%, auto;
      background-position: 0, -200px;
      min-height: 150px;
      width:100%;
      margin-bottom: 3em;
      h1 {text-align: left;}
      div.link-cover{
        background: linear-gradient(to right, rgba(255,255,255,0.4),rgba(255,255,255,0));
        height: 100%;
        width: 100%;
        min-height: 150px;
        padding: 1em;
      }
    }

    div.show-wedding-header{
      text-align: right;
      h1{
        text-align: right;
        margin-left: auto;
      }

    }

    label{
      font-size: 15px;
    }
    div.devise-links{
      margin:1em;
    }
  }

  form{
    margin: 2em;
  }

  div.container{
    margin: 2em;
  }

  div.wish-search-header{
    margin: 0.5em, 2em, 0.5em, 2em;
    form.wish_search{
      float: right;
      margin:0;
    }
  }
}

div.under-line{
  width: 80%;
  min-width: 350px;
  margin: 0 auto;
  border-bottom:1px solid black;
  padding: 8px 0 0px 0;
  clear: both;
}