    </section>


    <div class="footer-seperator">
    <%= image_tag("seperator.png") %>
    </div>
    <div class="footer">
    <p class="text-center">
    &copy 2016 WeiDing Gifts. Site design, development, and concept by Wei Liang. Any comments and criticism can be directed at me, and I hope you like the site.
    </p>
    </div>

  <a class="exit-off-canvas"></a>
  </div>
</div>